Django==5.0.7
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
djoser==2.3.3

# ASGI / Realtime
channels>=4,<5
channels-redis>=4,<5
daphne>=4,<5

# Background tasks / cache / db
celery==5.4.0
redis==5.0.8
psycopg2-binary==2.9.9
django-redis>=5,<6

# Config
django-environ==0.11.2

# Prod server (optional in dev)

# Prod server (optional in dev)
gunicorn==22.0.0
